.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.image{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("https://img.freepik.com/free-vector/customers-pharmacist-pharmacy-store-people-buying-medication-drugstore-flat-vector-illustration-service-treatment-pharmaceutics-concept_74855-9835.jpg?w=1380&t=st=1703318562~exp=1703319162~hmac=efab48b9933716b0de9eaafd1a589acafac6a87b8525f339e20c98ae4aba62ec ");
  display: flex;
  align-items: center;
  justify-content: center;

  h1{
    font-size: 40px;
    font-weight: 900;
    color: white;
  }
}
