<div class="outer">
  <div class="inner">
    <div class="image" style="width: 100%; height: 500px">
      <h1>Manage Inventory</h1>
    </div>
    <div class="form py-2">
      <div class="container">
        <div class="row">
          <div class="col-4">
            <form class="example-form" [formGroup]="inventoryForm" (ngSubmit)="createInventory()">
              <div class="example-container d-flex">
                <mat-form-field>
                  <mat-label>Inventory Holder Id</mat-label>
                  <input type="text" formControlName="holderId" matInput placeholder="Ex. pat@example.com">
                </mat-form-field>
                <div class="px-1"></div>
                <mat-form-field>
                  <mat-label>Medicine Name</mat-label>
                  <input type="text" formControlName="name" matInput placeholder="Ex. pat@example.com">
                </mat-form-field>
              </div>

              <mat-form-field class="example-full-width">
                <mat-label>Quantity</mat-label>
                <input type="number" formControlName="qty" matInput placeholder="Ex. pat@example.com">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label>Unit Price</mat-label>
                <input type="number" formControlName="unitPrice" matInput placeholder="Ex. pat@example.com">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Manufactured Date</mat-label>
                <input matInput [matDatepicker]="manufactureDate" type="date" formControlName="manufactureDate">
                <mat-datepicker #manufactureDate></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <mat-label>Expired Date</mat-label>
                <input matInput [matDatepicker]="expiredDate" type="date" formControlName="expiredDate">
                <mat-datepicker #expiredDate></mat-datepicker>
              </mat-form-field>

              <button mat-raised-button class="w-100" color="primary" type="submit">Add To Inventory</button>
              <p class="p-1"></p>
              <button mat-raised-button class="w-100" color="warn" type="reset">Cancel</button>
            </form>
          </div>
          <div class="col-8">
            <table mat-table [dataSource]="inventories" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="holderId">
                <th mat-header-cell *matHeaderCellDef> Holder </th>
                <td mat-cell *matCellDef="let element"> {{element.medicineInventoryHolderDto.id}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="qty">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let element"> {{element.qty}} </td>
              </ng-container>
              <ng-container matColumnDef="unitPrice">
                <th mat-header-cell *matHeaderCellDef> Unit Price </th>
                <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
              </ng-container>
              <ng-container matColumnDef="manufacture">
                <th mat-header-cell *matHeaderCellDef> Manufacture Date </th>
                <td mat-cell *matCellDef="let element"> {{element.manufacturedDate}} </td>
              </ng-container>
              <ng-container matColumnDef="expire">
                <th mat-header-cell *matHeaderCellDef> Expire Date </th>
                <td mat-cell *matCellDef="let element"> {{element.expiredDate}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <!-- Edit Button -->
                  <!-- Delete Button -->
                  <button mat-icon-button (click)="deleteInventory(element.id)" >
                    <mat-icon color="warn">delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

