<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/admin/dashboard" style="cursor: pointer">HospitalManagementSystem</span>
  <span class="example-spacer"></span>
  <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/hospital/doctor">
    Doctors
  </button>
  <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/hospital/patient">
    Patients
  </button>
  <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/hospital/inventory">
    Medicine Inventory
  </button>
  <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/hospital/holder">
    Inventory Holder
  </button>
  <button mat-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/hospital/medicine">
    Medicine
  </button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
